.Container--Comparacion {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.Container--Region {
	margin-bottom: 70px;
	width: 100%;
}

.Prueba {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 120px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}

p {
	text-align: left;
	text-align: center;
}
